.node > circle {
    stroke-width: 2 !important;
    stroke: #ed4ba7 !important;
    fill: #e56db1 !important;
}

.node > rect {
    stroke-width: 2 !important;
    stroke: #490092FF !important;
    fill: #B66DFFFF !important;
}

.node > ellipse {
    stroke-width: 2 !important;
    stroke:  #490092FF !important;
    fill: #B66DFFFF !important;
}

.node > polygon {
    stroke-width: 2 !important;
    stroke:  rgb(1, 149, 140) !important;
    fill: #41b6e6 !important;
}

.node > polyline {
    stroke-width: 2 !important;
    stroke:  rgb(1, 149, 140) !important;
    fill: fuchsia !important;
}
.nofill > polygon {
    stroke-width: 2 !important;
    stroke:  rgb(1, 149, 140) !important;
    fill: none !important;
}

/* Comment out when rendering PDF and PNG */

foreignObject span.edgeLabel {
    border-color: black !important;
    background-color: none !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 2px !important;
    display: inline-flex !important;
    padding: 1px !important;
    text-align: center !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
}

g.edgeLabel g.label foreignObject {
    width: 40% !important;
    height: 4% !important;

}

/* END Comment out when rendering PDF and PNG */