.node > circle {
    stroke-width: 2 !important;
    stroke: #ed4ba7 !important;
    fill: #e56db1 !important;
}

.node > rect {
    stroke-width: 2 !important;
    stroke: #490092FF !important;
    fill: #B66DFFFF !important;
}

.node > ellipse {
    stroke-width: 2 !important;
    stroke:  #490092FF !important;
    fill: #B66DFFFF !important;
}

.node > polygon {
    stroke-width: 2 !important;
    stroke:  rgb(1, 149, 140) !important;
    fill: #41b6e6 !important;
}

.node > polyline {
    stroke-width: 2 !important;
    stroke:  rgb(1, 149, 140) !important;
    fill: fuchsia !important;
}
.nofill > polygon {
    stroke-width: 2 !important;
    stroke:  rgb(1, 149, 140) !important;
    fill: none !important;
}
